<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954078368857-dp1pjq7klk5hgk2cfe4rgls2vbhirhq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954078368857-dp1pjq7klk5hgk2cfe4rgls2vbhirhq9</string>
	<key>API_KEY</key>
	<string>AIzaSyAzj2dBlf1kafqOlnNieM5-qpDXPuszxi8</string>
	<key>GCM_SENDER_ID</key>
	<string>954078368857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nBaz</string>
	<key>PROJECT_ID</key>
	<string>themusicstore-5c9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>themusicstore-5c9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954078368857:ios:ca750df6f7d03f77750d48</string>
</dict>
</plist>